<!DOCTYPE html>
<app-first-navbar></app-first-navbar>
<mat-divider class="bg-cyan-400"></mat-divider>    
<body>
    <div class="h-4/5 bg-left bg-no-repeat" style="background-image: url('../../assets/images/Image-hospital1.png');">
    <div class="pt-10"></div>
    <table class="w-full">
          <mat-card class="w-2/6 ml-auto mr-5">
            <mat-card-title class="text-left">Regístrate Personal</mat-card-title>
            <form class="form text-left" [formGroup]="staffregisterform">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Ingrese nombre" formControlName="name" required>
              <mat-error *ngIf="staffregisterform.controls['name'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['name'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput placeholder="Ingrese apellido paterno" formControlName="patternlastname" required>
              <mat-error *ngIf="staffregisterform.controls['patternlastname'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['patternlastname'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="Ingrese apellido materno" formControlName="matternlastname" required>
              <mat-error *ngIf="staffregisterform.controls['matternlastname'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['matternlastname'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Sexo</mat-label> <!--Combo Box-->
              <mat-select formControlName="sex">
                <mat-option value="uno">Masculino</mat-option>
                <mat-option value="dos">Femenino</mat-option>
              </mat-select>
              <mat-error *ngIf="staffregisterform.controls['sex'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['sex'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ingrese email" formControlName="email" required>
              <mat-error *ngIf="staffregisterform.controls['email'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['email'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Telefono</mat-label>
              <input matInput placeholder="Ingrese telefono" formControlName="phone" required>
              <mat-error *ngIf="staffregisterform.controls['phone'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['phone'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Documento</mat-label> <!--Combo Box-->
              <mat-select formControlName="document">
                <mat-option value="uno">DNI</mat-option>
                <mat-option value="dos">Carnet de Extranjeria</mat-option>
              </mat-select>
              <mat-error *ngIf="staffregisterform.controls['document'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['document'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Numero de Documento</mat-label>
              <input matInput placeholder="Ingrese Numero de documento" formControlName="numberdocument" required>
              <mat-error *ngIf="staffregisterform.controls['numberdocument'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['numberdocument'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Ingrese nombre de usuario" formControlName="username" required>
              <mat-error *ngIf="staffregisterform.controls['username'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['username'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Ingrese contraseña" formControlName="password" required>
              <mat-error *ngIf="staffregisterform.controls['password'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['password'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            
            <div class="text-center">
              <button color = "primary" mat-raised-button (click)="RegisterMethod()" [disabled]="staffregisterform.invalid">Registrarse</button>
            </div>  
          </form>
          </mat-card>
    </table>
    <div class="pb-10"></div>
  </div>
</body>
