<!DOCTYPE html>
<body>
    <mat-toolbar class = "bg-sky-50">
          <h1>Clinica de Salud</h1>
          <span class="flex-auto"></span>
          <img src="../../assets/images/Raster.png" class="w-10 h-10">
          <div class="pr-5"></div>
          <table>
            <th>
              <p>01 555-5555</p>
              <p>51 999-999-999</p>
            </th>  
          </table>
    </mat-toolbar>
    <mat-divider class="bg-cyan-400"></mat-divider>
    <div class="pt-28"></div>
    <table>
      <tr>
        <th>
          <img class= "ml-20" src="../../assets/images/Image-hospital1.png">
        </th>
        <div class="pr-96"></div>
        <th>
          <mat-card>
            <mat-card-title class="text-left">Regístrate</mat-card-title>
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Apellido Materno</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Sexo</mat-label>
              <input matInput>
            </mat-form-field>
          </mat-card>
        </th>
        <div class="pr-20"></div>
      </tr>
    </table>
</body>