<!DOCTYPE html>
<app-first-navbar></app-first-navbar>
<mat-divider class="bg-cyan-400"></mat-divider>    
<body>
    <div class="h-4/5 bg-left bg-no-repeat" style="background-image: url('../../assets/images/Image-hospital1.png');">
    <div class="pt-10"></div>
    <table class="w-full">
          <mat-card class="w-2/6 ml-auto mr-5">
            <mat-card-title class="text-left">Regístrate</mat-card-title>
            <form class="text-left">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Ingrese nombre" name="nombre" required>
              <mat-error *ngIf="nombre.invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput placeholder="Ingrese apellido paterno" required>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="Ingrese apellido materno" required>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Sexo</mat-label> <!--Combo Box-->
              <mat-select>
                <mat-option value="uno">Masculino</mat-option>
                <mat-option value="dos">Femenino</mat-option>
              </mat-select>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ingrese email" required>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Telefono</mat-label>
              <input matInput placeholder="Ingrese telefono" required>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Documento</mat-label> <!--Combo Box-->
              <mat-select>
                <mat-option value="uno">DNI</mat-option>
                <mat-option value="dos">Carnet de Extranjeria</mat-option>
              </mat-select>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Numero de Documento</mat-label>
              <input matInput placeholder="Ingrese Numero de documento" required>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Ingrese nombre de usuario" required>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Ingrese contraseña" required>
              <mat-error>Es requerido</mat-error>
            </mat-form-field>
            </form>
            <div class="text-center">
              <button color = "primary" mat-raised-button (click)="RegisterMethod()">Registrarse</button>
            </div>
          </mat-card>
    </table>
    <div class="pb-10"></div>
  </div>
</body>